<tr>
    <td>%username%</td>
    <td>%text%</td>
    <td>%commentDate%</td>
    <td>
        <form action="" method="POST">
            <label for="">%LikesNo%</label>
            <input
                    id="form_comment_id"
                    type="hidden"
                    name="comment_id"
                    value="%CommentID%"
            />
            <button type="submit" name="LikeComment">like</button>

            <label for="">%DislikesNo%</label>
            <input
                    id="form_comment_id"
                    type="hidden"
                    name="comment_id"
                    value="%CommentID%"
            />
            <button type="submit" name="DislikeComment">dislike</button>

        </form>
    </td>
<!--    <td>-->
<!--        <form action="" method="POST">-->
<!--            <label for="">%DislikesNo%</label>-->
<!--            <input-->
<!--                    id="dislikeForm_comment_id"-->
<!--                    type="hidden"-->
<!--                    name="comment_id"-->
<!--                    value="%CommentID%"-->
<!--            />-->
<!--            <button type="submit" name="DislikeComment">dislike</button>-->
<!--        </form>-->
<!--    </td>-->
</tr>